<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mézes Művek</a>
    </div>
    <div class="nav navbar-nav">
    	<li><%= link_to "Termékek", products_path %></li>
    </div>
  </div>
</nav>